@import '../../styles/colors';

.container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9rem;
    color: $neon;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    //margin: 10%;
}

.gamecodepagebutton {
    background: $purple;
    border-radius: 17px;
    border: none;

    position: relative;
    width: 39.75rem;
    height: 6.25rem;
    //width: 17%;
    //height: 10%;
    margin-top: 50px;
    
    //top: 60%;
    //top: 30px;
    //left: 50%;
    //transform: translateX(-50%);

    color: $white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    //text-shadow: 4px 0 0 #aaaaaa;
}

.container input {
    background-color: #eee;
    border: none;
    color: rebeccapurple;
    font-size: 4rem;
    width: 39.75rem;
    height: 9.9375rem;
    padding: 4px 8px;
    text-align: center;
    border-radius: 17px;

    position: relative;
    margin-top: 100px;
  }

.blobtopright {
    position: absolute;
    top: 0;
    right: 0;
}

.blobtopleft {
    position: absolute;
    top: 0;
    left: 0;
}

.blobbottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blobbottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}