@import '../../../../styles/colors';
@import '../../../../styles/fonts';

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.code {
  margin: 48px 0 96px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  font-size: 7rem;
  text-transform: uppercase;
}

.accent {
  margin: 0 24px 0 0;
  color: $neon;
}

.start {
  margin-bottom: -50px;
  padding: 0 20px;
  width: 343px;
  height: 100px;
  position: relative;
  border-radius: 17px;
  background: $magenta;
  color: $white;
  font-family: $font-text;
  font-size: 4.2rem;
  outline: none;
}