$bg-color:                #27163F;
$text-color:              #fff;
$text-dark-color:         #27163F;
$triangle-color:          #f9bd25;
$triangle-dark-color:     adjust-color($triangle-color, $alpha: -0.25);
$star-color:              #2de2e6;
$star-dark-color:         adjust-color($star-color, $alpha: -0.25);
$circle-color:            #ff1493;
$circle-dark-color:       adjust-color($circle-color, $alpha: -0.25);
$square-color:            #16ffbd;
$square-dark-color:       adjust-color($square-color, $alpha: -0.25);