$font-header: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$font-text: 'Source Sans Pro', Helvetica, Arial, sans-serif;

$font-vs: 1.125rem;
$font-sm: 2.25rem;
$font-md: 3rem;
$font-lg: 4rem;
$font-vl: 9rem;