@import 'colors';

.landingpagebutton {
    background: #FFFBFB;
    border-radius: 17px;
    position: absolute;
    width: 318px;
    height: 100px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $text-dark-color;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 64px;
    text-shadow: 4px 0 0 #aaaaaa;
}

// .yeetbutton{
//     width: 318px;
//     height: 100px;
// }
