@import 'input';
@import 'colors';
@import 'fonts';

.DualButton {
  min-width: min-content;
  height: 100%;
  overflow: hidden;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $purple;
  text-decoration: none;
}

.DualButton button {
  @extend %button;
  width: 100%;
  min-width: min-content;
  height: 100%;
  color: $white;
  font-family: $font-header;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
}

.DualButton.vertical {
  flex-direction: column;
  justify-content: stretch;
  white-space: nowrap;
}

.left,
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: transparent;
}

.left:hover:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.right {
  background-color: $magenta;
}

.right:hover:active {
  background-color: $magenta-dark;
}

.DualButton button.large {
  font-size: $font-lg;
}