@import 'colors';

.blobtopright {
    position: absolute;
    top: 0;
    right: 0;
}

.blobtopleft {
    position: absolute;
    top: 0;
    left: 0;
}

.blobbottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blobbottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}