.MatchInfo {
    width: 100%;
    margin: 0 0 2vw 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
}

.MatchInfo>.info-block {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}