@import 'colors';

.container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9rem;
    text-shadow: 0.625rem 0 0 #aaaaaa;

    //position: absolute;
    position: relative;
    //width: 100%;
    //max-height: 30vh;
    // top: 40%;
    left: 50%;
    transform: translateX(-50%);
    //transform: translate(-50%, -50%);
    white-space: nowrap;
}

.landingpagebutton {
    background: #FFFBFB;
    border-radius: 17px;

    position: relative;
    width: 19.875rem;
    height: 6.25rem;
    //width: 17%;
    //height: 10%;
    margin: 50px;
    
    //top: 60%;
    //top: 30px;
    //left: 50%;
    //transform: translateX(-50%);

    color: $text-dark-color;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    text-shadow: 0.25rem 0 0 #aaaaaa;
}

.blobright {
    position: absolute;
    top: 0;
    right: 0;
}

.blobleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

