@import 'colors';
@import 'fonts';

.QuestionEditHeader {
    width: 100%;
    height: 100%;
    padding: 2% 1%;
    box-sizing: border-box;
    // background-image: linear-gradient(270deg,
    // adjust-color(#837cd9, $alpha: -0.4),
    // adjust-color($accent-2-color, $alpha: -0.4));
    background-image: linear-gradient(90deg, #9796F0CC 1.19%, #FBC7D4CC 101.19%);
    // background-color: adjust-color($color: $accent-2-color, $alpha: -0.4);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.QuestionEditHeader * {
    height: 100%;
}

.titleInput {
    width: 47%;
    font-family: $font-text;
    font-size: 2.2rem
}

.buttons {
    width: 44%;
}