@import 'colors';

.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6rem;
    color: $white;

    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.board {
    position: absolute;
    width: 50.8125rem;
    height: 42.625rem;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);

    background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
    border-radius: 17px;
}

.nextbutton {
    position: relative;
    width: 9.375rem;
    height: 6.25rem;
    transform: translateY(-50%);
    // left: 50%;
    // transform: translateX(-50%);

    background: $green;
    border-radius: 17px;
    border: none;

    font-family: sans-serif;
    font-size: 3rem;
    color: $purple-very-dark;
}

.entry {
    display: flex;
    justify-content: space-evenly;

    position: relative;
}

.ranking {
    font-family: sans-serif;
    font-size: 4.5rem;
    color: $white;
}

.name {
    font-family: sans-serif;
    font-size: 3rem;
    color: $purple-very-dark;

    transform: translateY(15%);
}

.score {
    font-family: sans-serif;
    font-size: 2.25rem;
    color: $purple-very-dark;

    transform: translateY(25%);
}