.container {
  width: 205px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.time {

}

.timeInput {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.time input {
  background-color: #fff;
  border: 0;
  outline: 0;
}