.topDesignLove {
    justify-items: center;
    position: absolute;
    width: 1440;
    height: 340;
    left: 0%;
    right: 0%;
    top: 0%;
    fill: none;
}

.nightlineDesignLeft {
    position: absolute;
    width: 543.62px;
    height: 659px;
    left: 0px;
    top: 500px;
}

.nightlineDesignRight {
    position: absolute;
    width: 543.62px;
    height: 659px;
    left: 896.38px;
    top: 500px;


}

.title {
    position: absolute;
    width: 1087px;
    height: 164px;
    left: 177px;
    top: 320px;

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;

    text-shadow: 10px 0 0 rgba(255, 255, 255, 0.75);;
}