@import '../../../../styles/colors';

.QuestionSidebar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 20%;
  justify-content: flex-start;
  align-content: flex-start;
}

.buttons {
  margin: 0 auto;
  padding-bottom: 16px;
}