@import '../../../../../../styles/colors';
@import '../../../../../../styles/answer';

.QuestionCard {
  width: 83vw;
  height: 38vh;
  position: absolute;
  left: 0;
  top: calc(80px + 1vw);
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-radius: 0 17px 17px 0;
  font-weight: bold;
}

.QuestionCard.short {
  width: 45vw;
  transition: width 0.2s ease-out;
}

.default {
  background-color: $neon;
}

.number {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: $purple-very-dark;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.label {
  color: $purple-very-dark;
  width: 85%;
}

.slide {
  animation: slide-left 0.4s ease-out;
}

@keyframes slide-left {
  from {
    left: 0;
  }
  to {
    left: -100vw;
  }
}