.container {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.count {
  font-size: 4rem;
}

.answers {
  font-size: 1.6rem;
}