@import '../../../../../../styles/answer';

.AnswerCard {
  width: 100%;
  height: 17vh;
  padding: 25px;
  border-radius: 17px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.label {
  width: 100%;
}